// form related element styling
form {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guessResult {
  text-align: center;
  display: none;

  div {
    color: white;
    background: $secondaryBgColor;
    border-radius: 5px;
    padding: 5px;
  }

  h2 {
    margin: 0;
  }
}

select,
button,
[type="submit"] {
  text-align: center;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 5px 5px 0;
  background: $secondaryBgColor;
  border: 3px solid $secondaryBgColor;
  color: white;
  transition: all 0.3s;
}

button,
[type="submit"] {
  padding: 0 20px;
}

button:hover,
[type="submit"]:hover {
  color: $secondaryBgColor;
  background: white;
  border: 3px solid $secondaryBgColor;
}
