@media (max-width: 900px) {
  h1 {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  div.gallery {
    height: auto;
  }
  div.wrapper {
    width: 95%;
  }
  div.imgContainer {
    width: 50%;
    height: calc((100vh - 175px) / 5);
  }
  form {
    margin: 0;
    width: 100%;
  }
  select,
  button,
  [type="submit"] {
    width: 95%;
  }
}
