@media (max-width: 900px) {
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  .gallery {
    height: auto;
  }
  .wrapper {
    width: 95%;
  }
  .imgContainer {
    width: 50%;
  }
  .imgContainer:last-child {
    width: 100%;
  }
}
