// modal styling
.modal {
  padding-top: 10vh;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  background: $primaryBgColor;
}

.finalResults,
.lyric {
  display: none;
}
