// typography styling
html {
    font-family: "Merriweather", serif;
}

h1,
h2,
h3 {
    margin: 0 auto;
}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    font-variant: small-caps;
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 2px;
    color: gold;
    text-shadow: -1px -1px 1px darkorange, 2px 2px 2px firebrick;
}

.instruction h1 {
    font-size: 3.8rem;
    margin-bottom: 5vh;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

.lyric p {
    font-size: 20px;
    margin: 5px auto;
}

.hint {
    font-size: 1.2rem;
    text-shadow: 0 0 5px white;
    padding: 0 4%;
    background-color: rgba(200, 200, 200, 0.2);
}
