// typography styling
body {
    font-family: "Merriweather", serif;
}

h1,
h2,
h3 {
    margin: 0 auto;
}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    font-variant: small-caps;
    text-align: center;
    font-size: 2.4rem;
    color: gold;
    text-shadow: -1px -1px 1px darkorange, 2px 2px 2px firebrick;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

.hint {
    font-size: 1.2rem;
    text-shadow: 0 0 5px white;
    padding: 0 4%;
    background-color: rgba(200, 200, 200, 0.2);
}
