@import "./setup";
@import "./typography";
@import "./gallery";
@import "./form";

body {
  height: 100vh;
}

img {
  width: calc(100% / 3);
  height: calc(80vh / 3);
}

.wrapper {
  width: 80%;
  max-width: 1440px;
  margin: auto;
  position: relative;
}
body {
  height: 100vh;
}
img {
  width: calc(100% / 3);
  height: calc(80vh / 3);
}
.cover {
  object-fit: cover;
}
.gallery {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}
.instructionModal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(255, 255, 255);
  z-index: 1;
  text-align: center;
}
.totalScore {
  position: absolute;
  top: 0;
  left: 0;
}
.currentScore {
  position: absolute;
  top: 0;
  right: 0;
}
