@import "./setup";
@import "./variables";
@import "./typography";
@import "./scoreboard";
@import "./modal";
@import "./gallery";
@import "./form";
@import "./mediaQueries";

// general styling
body {
  background: linear-gradient(
    180deg,
    rgba(19, 82, 147, 1) 0%,
    $primaryBgColor 100%
  );
  min-height: 100vh;
}

.wrapper {
  width: 80%;
  max-width: 1440px;
  margin: auto;
}
